<!DOCTYPE html>
<html lang="en">

<head>
    {{template "head" "Administration"}}
</head>

<body>

    {{template "topbar"}}

    {{template "header" .TemplateSessionData}}

    <main id="main">

    {{template "breadcrumbs" "Administration"}}

    {{template "admin" .AppointmentDetails}}

    </main>

    {{template "footer"}}

</body>

</html>