<!DOCTYPE html>
<html lang="en">

<head>
    {{template "head" "Doctor Appointments"}}
</head>

<body>

    {{template "topbar"}}

    {{template "header" .}}

    {{template "breadcrumbs" "Doctor Appointments"}}
    
    <main id="main">
        
        {{template "faq"}}
        
    </main>

    {{template "footer"}}
    
</body>

</html>