<!DOCTYPE html>
<html lang="en">

<head>
    {{template "head"}}
</head>

<body>

    {{template "topbar"}}

    {{template "header" .}}

    {{template "hero"}}

    {{template "whyus"}}

    <main id="main">

    {{template "gallery"}}

    {{template "departments"}}

    </main>

    {{template "footer"}}
    
</body>

</html>