<!DOCTYPE html>
<html lang="en">

<head>
    {{template "head"}}
</head>

<body>

    {{template "topbar"}}

    {{template "header"}}

    {{if .TemplateSessionData.isLoggedIn}}
        {{template "breadcrumbs" "Appointments"}}
        
        {{template "faq"}}
    {{else}}
        {{template "hero"}}

        {{template "whyus"}}
    {{end}}

    <main id="main">

    {{template "gallery"}}

    {{template "departments"}}

    </main>

    {{template "footer"}}
    
</body>

</html>