<!DOCTYPE html>
<html lang="en">

<head>
    {{template "head" "somepage"}}
</head>

<body>

    {{template "topbar"}}

    {{template "header" .TemplateSessionData}}

    <main id="main">

    {{template "breadcrumbs" "somepage"}}

    <section class="inner-page">
        <div class="container">
            <p>
            Example inner page template
            </p>
        </div>
    </section>

    </main>

    {{template "footer"}}

</body>

</html>