<!DOCTYPE html>
<html lang="en">

<head>
    {{template "head" "Register"}}
</head>

<body>

    {{template "topbar"}}

    {{template "header"}}

    <main id="main">
    
    {{template "breadcrumbs" "Register"}}
    
    <section id="appointment" class="appointment section-bg">
        <div class="container">

            <div class="section-title">
                <h2>Make an Account</h2>
                <p>Welcome our valued patient, please fill in the fields to make an account.</p>
            </div>

            <form action="/register" method="post" role="form" class="medilab-form">
                <div class="row justify-content-center">
                    <div class="col-md-8 form-group mt-3 mt-md-0">
                        <input type="text" name="firstname" class="form-control" placeholder="First Name" required>
                        <div class="validate"></div>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-md-8 form-group mt-3 mt-md-0">
                        <input type="text" name="lastname" class="form-control" placeholder="Last Name" required>
                        <div class="validate"></div>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-md-8 form-group mt-3 mt-md-0">
                        <input type="number" class="form-control" name="age" placeholder="Your Age" required>
                        <div class="validate"></div>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-md-8 form-group mt-3 mt-md-0">
                        <input type="email" class="form-control" name="email" placeholder="Your Email" required>
                        <div class="validate"></div>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-md-8 form-group mt-3 mt-md-0">
                        <input type="text" name="username" class="form-control" placeholder="Username" required>
                        <div class="validate"></div>
                    </div>
                </div>
                
                <div class="row justify-content-center">
                    <div class="col-md-8 form-group mt-3 mt-md-0">
                        <input type="password" name="password" class="form-control" placeholder="Password" required>
                        <div class="validate"></div>
                    </div>
                </div>

                <div class="text-center"><button type="submit">Register</button></div>
            </form>

        </div>
    </section>

    </main>

    {{template "footer"}}

</body>

</html>