{{define "hero"}}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container">
        <h1>Welcome to COMPFEST Hospital</h1>
        <h2>We organize appointments with doctors, sign up now and join in!</h2>
        <a href="#about" class="btn-get-started scrollto">Get Started</a>
    </div>
</section><!-- End Hero -->
{{end}}